$main-color: #E9E8E4;
$top-sidebar-color: #4D75A3;
$sidebar-text-color: #A3B2C9;
$account-number-color: #588CB3;

body{
  background-color: $main-color;
}
.main-grid{
  display: grid;
  grid-template-columns: 100px 300px 40px 260px 40px 280px 100px;
  grid-template-rows: 20px 100px 20px 150px 20px 350px 20px 400px 70px;
}
%section-prototype{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 1px lightgrey;
  overflow: hidden;
}
%navbar-prototype{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
}
%icon-in-center-prototype{
  margin: auto;
  text-align: center;
  color: $sidebar-text-color;
}
.nav-upper{
  @extend %section-prototype;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.menu{
  @extend %navbar-prototype;
  justify-content: center;
}
.menu > li {
  padding-bottom: 9px;
  margin: 15px 15px 0;
  line-height: 50px;
  text-align: center;
  color: $sidebar-text-color;
  font: 1em system-ui;
}
.menu > li:first-child {
  color: $top-sidebar-color;
  border-bottom: 5px solid $top-sidebar-color;
}

.navigate{
  height: 50%;
  background-color: $top-sidebar-color;
  position: relative;
}
.navigate > ul{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  @extend %navbar-prototype;
}
.navigate > ul > li.navigate-social-ui{
  color: white;
  text-align: left;
  font-weight: bold;
  font-family: sans-serif;
  padding-left: 15px;
  flex-grow: 3;
}
.navigate > ul > li{
  @extend %icon-in-center-prototype;
  flex-grow: 1;
}
.navigate > ul > li.navigate-settings{
  flex-grow: 10;
  text-align: right;
  padding-right: 6px;
}
.navigate > ul > li.navigate-settings > i{
  margin: 0 2px;
}
.navigate > ul > li.navigate-settings > span{
  margin-right: 15px;
}
.navigate > ul > li.navigate-divider{
  flex-grow: 0;
  margin: inherit;
  text-align: inherit;
  width: 2px;
  background-color: #4A709D;
}
.navigate > ul > li.navigate-notifications{
  position: relative;
  color: white;
}
.navigate > ul > li.navigate-notifications > div{
  bottom: 50%;
  left: 50%;
  position: absolute;
  color: white;
  background-color: coral;
  width: 8px;
  height: 8px;
  padding: 3px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 0.5em;
  border-radius: 1px;
}

%account-chars-prototype{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.account-section{
   @extend %section-prototype;
   grid-column-start: 2;
   grid-column-end: 7;
   grid-row-start: 4;
   grid-row-end: 5;
   position: relative;
 }
.account-section > ul{
  @extend %navbar-prototype;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
}
.account-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.account-avatar > img{
  width: 74px;
  height: 70px;
  border-radius: 40px;
}
.account-divider{
  margin: auto;
  width: 1px;
  background-color: #F6F6F6;
  height: 50%;
}
.account-name{
  @extend %account-chars-prototype;
  flex-grow: 2;
  font-family: "Trebuchet MS", sans-serif;
}
.account-name > q{
  quotes: none;
  font-size: small;
  color: $sidebar-text-color;
}
.account-name > span{
  font-size: large;
}
.account-numbers{
  @extend %account-chars-prototype;
  flex-grow: 1;
  align-items: center;
}
.account-sign{
   color: $sidebar-text-color;
   font-size: small;
   font-family: sans-serif;
 }
.account-number{
  color: $top-sidebar-color;
  font-size: large;
  font-family: sans-serif;
}
.account-buttons{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
%account-button-prototype{
  border-radius: 5px;
  border: 2px solid $top-sidebar-color;
  margin: 10px;
  width: 145px;
  height: 40px;
}
.account-add-button{
  @extend %account-button-prototype;
  background-color: white;
  color: $top-sidebar-color;
}
.account-send-button{
  @extend %account-button-prototype;
  background-color: $top-sidebar-color;
  color: white;
}

.activity-feed-sidebar{
  @extend %section-prototype;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

$show-more-color: #EBF4FA;

.people-to-follow-sidebar{
  @extend %section-prototype;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  //position: relative;
}
.people-to-follow-top{
  width: 100%;
}
.people-to-follow-list{

}
.people-to-follow-list > ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
.people-to-follow-list > ul > li{
  display: flex;
  flex-direction: row;
}
.people-to-follow-list > ul > li > img{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.people-to-follow-list > ul > li > div{
  display: flex;
  flex-direction: column;
}
.people-to-follow-list > ul > li > div > span{
  font-size: large;
}
.people-to-follow-list > ul > li > div > q{
  quotes: none;
  font-size: small;
}
.people-to-follow-bottom{
  width: 100%;
  background-color: $show-more-color;
  color: $top-sidebar-color;
  text-align: center;
}

.dialogue-section{
  @extend %section-prototype;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
}

.social-net-section{
  @extend %section-prototype;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 9;
}